<button (click)="goBack()">go back</button>
<h2>{{movie.name | uppercase}} Details</h2>
<div><span>id: </span>{{movie.id}}</div>
<div>
    <label>name:
        <input [(ngModel)]="movie.name" placeholder="name"/>
    </label>
</div>
<div>
    <label>URL:
        <input [(ngModel)]="movie.url" placeholder="URL"/>
    </label>
</div>
<div>
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(movie.url)" width="560" height="315" frameborder="0" webkitallowfullscreen
    mozallowfullscreen allowfullscreen>
    </iframe>
</div>
<button (click)="save()">Save</button>